/* base theme */
:root {
  --color-primary: #008EE5;
  --color-1: #FFFFFF;
  --color-2: #F4F5F6;
  --color-3: #DADEE2;
  --color-4: #B8C3CD;
  --color-5: #77808A;
  --color-6: #313440;
  --color-7: #1A1B22;
  --color-side-bar: var(--color-6);
  --color-side-bar-text: var(--color-3);
  --color-side-bar-selected: var(--color-7);
  --color-header: #BE2ECB;
  --padding-ex-small: 2px;
  --padding-small: 8px;
  --padding-mid: 12px;
  --padding-large: 26px;
  --indent: var(--padding-mid);
  --border-radius: 3px;
  --border-base: 1px solid var(--color-4);
  --border-light: 1px solid var(--color-3);
  --border-base-primary: 1px solid var(--color-primary);
  --darken-1: brightness(95%);
  --darken-2: brightness(85%);
  --font-family-base: "Trebuchet MS", Helvetica, sans-serif;
  --font-family-mono: monospace;
  --font-size-base: 14px;
  --ratio: 1.1;
  --letter-spacing: 0.0em;
  --letter-spacing-wide: 0.06em;
  --line-height: 1.4em;
  --side-bar-width: 180px;
  --note-list-width: 260px; }

:root {
  --color-primary: #BB4430;
  --color-1: #EFE6DD;
  --color-2: #E4D6C8;
  --color-3: #D8C1AC;
  --color-4: #785e0f;
  --color-5: #43888d;
  --color-6: #60adb4;
  --color-7: #7EBDC2;
  --color-side-bar: var(--color-3);
  --color-side-bar-text: var(--color-4);
  --color-side-bar-selected: var(--color-primary);
  --border-base: 1px solid var(--color-1);
  --border-light: 1px solid var(--color-2); }

/* base layout */
/* main page grid panels */
.side-bar {
  grid-area: side_bar; }

.note-list {
  grid-area: note_list; }

.note-panel {
  grid-area: note_panel; }

/* main page grid */
body {
  display: grid;
  grid-template-areas: "side_bar note_list note_panel";
  /* in the app, the user will drag to change these size */
  /* change them in the theme to see how it resizes */
  grid-template-columns: var(--side-bar-width) var(--note-list-width) 4fr;
  margin: 0; }

/* reset margin and padding for base text styles */
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0 0 var(--padding-mid) 0; }

.side-bar {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mid) 0 0;
  height: calc( 100vh - var(--padding-mid) );
  /* make all collapse arrows smaller */
  /* make sidebar scroll if more tags / notebooks */
  /* style header, aka "All Notes, Notebooks, Tags" */
  /* list item, aka notebook, tag, or note */
  /* indentation for list items */
  /* number of notes or tags */
  /* style for sync area */ }
  .side-bar i.fa-chevron-down, .side-bar i.fa-chevron-right {
    font-size: var(--padding-small) !important; }
  .side-bar .side-bar-scroll {
    overflow: scroll; }
  .side-bar .header {
    padding: var(--padding-mid) var(--padding-small);
    display: flex;
    align-items: center;
    cursor: pointer;
    /* spacer or collapse arrow */
    /* icon */
    /* this holds the header name */
    /* it truncates so you can still see the add new notebook button */
    /* add new notebook button */ }
    .side-bar .header div {
      padding-right: var(--padding-ex-small);
      width: var(--padding-mid);
      font-size: 1em;
      display: flex;
      align-items: center; }
    .side-bar .header i {
      padding-right: var(--padding-small); }
    .side-bar .header span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .side-bar .header button {
      margin-left: auto;
      margin-right: var(--padding-ex-small); }
      .side-bar .header button i {
        padding: var(--padding-ex-small); }
  .side-bar .list-item-container {
    padding: var(--padding-small);
    display: flex;
    cursor: pointer;
    /* spacer or collapse arrow */ }
    .side-bar .list-item-container div {
      min-width: var(--padding-small);
      padding-left: var(--indent); }
    .side-bar .list-item-container div + div {
      padding-left: var(--padding-small); }
  .side-bar .list-item-depth-0 div {
    padding-left: calc( var(--indent) ); }
  .side-bar .list-item-depth-1 div {
    padding-left: calc( var(--indent) * 2); }
  .side-bar .list-item-depth-2 div {
    padding-left: calc( var(--indent) * 3 ); }
  .side-bar .list-item-depth-3 div {
    padding-left: calc( var(--indent) * 4 ); }
  .side-bar .list-item-depth-3 div {
    padding-left: calc( var(--indent) * 4 ); }
  .side-bar .list-item-depth-4 div {
    padding-left: calc( var(--indent) * 5 ); }
  .side-bar .list-item-depth-5 div {
    padding-left: calc( var(--indent) * 6 ); }
  .side-bar .count {
    padding-left: var(--padding-small); }
  .side-bar .sync-status {
    padding: var(--padding-mid);
    align-self: flex-end;
    /* sync info */ }
    .side-bar .sync-status small {
      display: block;
      margin-bottom: var(--padding-small); }
    .side-bar .sync-status i {
      padding-right: var(--padding-small); }

/* add notes + search + notes in current notebook, tag, or search */
.note-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: var(--padding-mid) 0;
  /* new note and new todo */
  /* note list style */ }
  .note-list .add-new {
    display: flex;
    padding: var(--padding-small) var(--padding-mid);
    justify-content: space-around; }
    .note-list .add-new button {
      width: 100%; }
      .note-list .add-new button i {
        padding-right: var(--padding-small); }
      .note-list .add-new button:first-child {
        margin-right: var(--padding-mid); }
  .note-list .list-item-container {
    padding: 0 var(--padding-mid); }
    .note-list .list-item-container div {
      padding: var(--padding-mid) 0;
      width: 100%;
      /* making overflowing labels truncate */ }
      .note-list .list-item-container div span:last-child, .note-list .list-item-container div label span:last-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block; }

/* note layout */
/* note grid: by using a grid, a theme-builder can rearrange the sections easily */
.note-panel {
  display: grid;
  grid-template-areas: "note_title note_title note_title note_title note_metadata note_metadata" "note_navigation note_tools note_tools note_tools note_tools note_view" "note_breadcrumb note_breadcrumb note_breadcrumb note_breadcrumb note_breadcrumb note_breadcrumb" "note_edit note_edit note_edit note_render note_render note_render" "note_tags note_tags note_tags note_tags note_tags note_tags";
  grid-auto-columns: 1fr;
  padding: var(--padding-large) var(--padding-large) 0; }

.note-metadata {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: flex-end; }

.note-navigation, .note-tools, .note-view {
  margin: var(--padding-mid) 0;
  padding: var(--padding-small);
  display: flex;
  align-items: center; }

.note-view {
  justify-content: flex-end; }

.note-breadcrumb {
  display: flex; }
  .note-breadcrumb div {
    padding-right: var(--padding-small); }

.note-edit {
  padding-right: var(--padding-large); }

.note-render {
  padding-left: var(--padding-large); }

.note-edit, .note-render {
  overflow: scroll;
  max-height: calc(100vh  - (var(--padding-large) * 8)); }

.note-tags {
  padding: var(--padding-mid) 0;
  display: flex;
  align-items: center;
  white-space: nowrap; }
  .note-tags div {
    overflow: scroll; }
  .note-tags a {
    padding-left: var(--padding-mid); }

/* these are the note areas, defined for use in grid */
.note-title {
  grid-area: note_title; }

.note-metadata {
  grid-area: note_metadata; }

.note-navigation {
  grid-area: note_navigation; }

.note-tools {
  grid-area: note_tools; }

.note-view {
  grid-area: note_view; }

.note-breadcrumb {
  grid-area: note_breadcrumb; }

.note-edit {
  grid-area: note_edit; }

.note-render {
  grid-area: note_render; }

.note-tags {
  grid-area: note_tags; }

body {
  background-color: var(--color-1);
  color: var(--color-6); }

.side-bar {
  background-color: var(--color-side-bar);
  color: var(--color-side-bar-text); }
  .side-bar .header {
    background-color: var(--color-side-bar);
    color: var(--color-5); }
    .side-bar .header:hover {
      filter: var(--darken-2); }
  .side-bar .list-item-container {
    background-color: var(--color-side-bar); }
    .side-bar .list-item-container div:first-child {
      color: var(--color-5); }
    .side-bar .list-item-container:hover {
      filter: var(--darken-2); }
  .side-bar .selected {
    background: var(--color-side-bar-selected);
    color: var(--color-1); }
  .side-bar .count {
    color: var(--color-5); }

.note-list {
  background-color: var(--color-2);
  color: var(--color-6); }
  .note-list .list-item-container {
    background-color: var(--color-2); }
    .note-list .list-item-container div {
      border-bottom: var(--border-light); }
    .note-list .list-item-container:hover {
      filter: var(--darken-1); }
  .note-list .selected {
    background: var(--color-3); }
  .note-list .searched {
    background: var(--color-primary);
    color: var(--color-2); }

.sync-status small {
  color: var(--color-5); }

.note-navigation, .note-tools, .note-view {
  background-color: var(--color-2); }
  .note-navigation button, .note-tools button, .note-view button {
    background-color: var(--color-2);
    color: var(--color-5); }
    .note-navigation button.selected, .note-tools button.selected, .note-view button.selected {
      color: var(--color-primary); }

.note-breadcrumb {
  color: var(--color-primary); }
  .note-breadcrumb a {
    color: var(--color-primary); }

.note-metadata {
  color: var(--color-5); }
  .note-metadata i {
    color: var(--color-5); }

.note-edit {
  border-right: var(--border-light); }

/* used to color the headers in markdown, not sure the best way to define this */
.color {
  color: var(--color-header); }

.note-tags a {
  color: var(--color-primary); }

/*font sizes */
body {
  font-size: var(--font-size-base); }

.note-title {
  font-size: calc( var(--ratio) * var(--ratio) * var(--ratio) *var(--ratio) * var(--font-size-base)); }

h1 {
  font-size: calc( var(--ratio) * var(--ratio) *var(--ratio) * var(--font-size-base)); }

h2 {
  font-size: calc( var(--ratio) * var(--ratio) * var(--font-size-base)); }

h3 {
  font-size: calc( var(--ratio) * var(--font-size-base)); }

h4 {
  font-size: calc( var(--font-size-base)); }

p, li, fieldset, input, label, button {
  font-size: var(--font-size-base); }

button, .header, .note-metadata {
  font-size: calc(var(--font-size-base) / var(--ratio)); }

/* font family and style */
body {
  font-family: var(--font-family-base);
  letter-spacing: var(--letter-spacing); }

.header {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide); }

.note-title {
  font-weight: bold; }

.note-edit {
  font-family: var(--font-family-mono); }

.note-edit, .note-render {
  line-height: var(--line-height); }

.note-tags a {
  text-decoration: none; }

/* icon font */
@font-face {
  font-family: "Font Awesome 5 Free";
  src: local("forkawesome-webfont"), url("/fonts/forkawesome-webfont.woff2") format("woff2"); }
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

button {
  /* base + used for toolbars */
  background-color: var(--color-1);
  border-radius: var(--border-radius);
  border: 0;
  text-align: center;
  cursor: pointer;
  line-height: 1em;
  padding: calc(var(--padding-small) / 2);
  /* darkens the buttons */
  /* used for new note */
  /* used for new todo */
  /* used for new notebook */
  /* used for sync */ }
  button:hover {
    filter: var(--darken-1); }
  button.new-note-button {
    border: var(--border-base-primary);
    background-color: var(--color-primary);
    color: var(--color-1);
    padding: var(--padding-small); }
  button.new-todo-button {
    border: var(--border-base-primary);
    background-color: var(--color-1);
    color: var(--color-primary);
    padding: var(--padding-small); }
  button.new-notebook-button {
    border: var(--border-base-primary);
    background-color: var(--color-1);
    color: var(--color-primary);
    padding: var(--padding-ex-small); }
  button.sync-button {
    border: var(--border-base);
    background-color: var(--color-side-bar);
    color: var(--color-5);
    width: 100%;
    padding: var(--padding-small) 0; }

/* tags */
.note-tags button {
  background-color: var(--color-2);
  color: var(--color-5);
  padding: var(--padding-small) var(--padding-mid);
  border-radius: 100px;
  margin: 0; }

/* search */
.search-wrapper {
  display: flex;
  border: var(--border-light);
  border-radius: var(--border-radius);
  margin: var(--padding-small) var(--padding-mid);
  background-color: var(--color-1);
  align-items: center; }
  .search-wrapper i {
    color: var(--color-primary); }
  .search-wrapper:focus-within {
    border: var(--border-base-primary); }
  .search-wrapper input {
    padding: var(--padding-small);
    width: calc(100% - var(--padding-mid) - var(--padding-mid) - var(--padding-small) - var(--padding-small));
    border: none;
    background-color: var(--color-1);
    color: var(--color-7); }
    .search-wrapper input:focus {
      outline: none; }

/* fancy checkbox styles */
.current-notebook {
  /* hide the normal checkbox */
  /* when the checkbox is checked... */ }
  .current-notebook input {
    display: none; }
  .current-notebook label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
  .current-notebook .pseudo-checkbox {
    display: flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
    min-width: 1em;
    border: var(--border-base);
    cursor: pointer;
    margin-right: var(--padding-small); }
  .current-notebook label span + span {
    display: flex;
    align-self: center;
    position: relative;
    cursor: pointer; }
  .current-notebook input:checked + label {
    color: var(--color-5);
    font-style: italic;
    text-decoration: line-through; }
    .current-notebook input:checked + label .pseudo-checkbox {
      background-color: var(--color-primary);
      border: var(--border-base-primary);
      /* checkmark */ }
      .current-notebook input:checked + label .pseudo-checkbox:after {
        content: "";
        display: block;
        position: absolute;
        top: calc(1em / 12);
        left: calc(1em / 4);
        width: calc(1em / 4);
        height: calc(1em / 2);
        border: solid var(--color-1);
        border-width: 0 var(--padding-ex-small) var(--padding-ex-small) 0;
        transform: rotate(45deg); }
    .current-notebook input:checked + label span + span {
      text-decoration: line-through;
      opacity: 0.4; }

/*# sourceMappingURL=theme_southwest.css.map */
