body
  color: var(--color-6)

.header
  color: var(--color-5)

#panel-1
  background-color: var(--color-6)
  color: var(--color-2)

  .selected
    background: var(--color-7)
    color: var(--color-1)

  .count
    color: var(--color-5)

#panel-2
  background-color: var(--color-2)
  color: var(--color-6)

  .selected
    background: var(--color-4)

summary
  &::-webkit-details-marker,
  &::marker
    color: var(--color-4)
