.side-bar
    .side-bar-scroll
        .all-notes
            .header
                div
                i.fas.fa-clone
                span All Notes
        .all-notebooks
            .header 
                div
                    i.fas.fa-chevron-down
                i.fas.fa-tags
                span Tags

            .folders
                .list-item-container.list-item-depth-0
                    div
                    div A Prender
                        span.count 8
                .list-item-container.list-item-depth-0
                    div
                        i.fas.fa-chevron-right
                    div Courses
                        span.count 12
                .list-item-container.list-item-depth-0
                    div
                        i.fas.fa-chevron-down
                    div Divers
                        span.count 5
                .list-item-container.list-item-depth-1
                    div
                    div Enterprise
                        span.count 23
                .list-item-container.list-item-depth-1
                    div
                        i.fas.fa-chevron-down
                    div Recipes
                        span.count 3
                .list-item-container.list-item-depth-2.selected
                    div 
                        i.fas.fa-chevron-down
                    div 
                        a(href="/") Blog Posts
                            span.count 3/10
                .list-item-container.list-item-depth-2
                    div
                    div Bookmarks
                        span.count 8
                .list-item-container.list-item-depth-1
                    div
                    div Tickets
                        span.count 12
                .list-item-container.list-item-depth-1
                    div
                    div Enterprise
                        span.count 23
                .list-item-container.list-item-depth-1
                    div
                        i.fas.fa-chevron-down
                    div Recipes
                        span.count 3
                .list-item-container.list-item-depth-2
                    div 
                        i.fas.fa-chevron-down
                    div Bookmarks
                        span.count 8
                .list-item-container.list-item-depth-2
                    div
                    div Bookmarks
                        span.count 8
                .list-item-container.list-item-depth-1
                    div
                    div Tickets
                        span.count 12
                .list-item-container.list-item-depth-1
                    div
                    div Enterprise
                        span.count 23
                .list-item-container.list-item-depth-1
                    div
                        i.fas.fa-chevron-down
                    div Recipes
                        span.count 3
                .list-item-container.list-item-depth-2
                    div 
                        i.fas.fa-chevron-down
                    div Bookmarks
                        span.count 8
                .list-item-container.list-item-depth-2
                    div
                    div Bookmarks
                        span.count 8
                .list-item-container.list-item-depth-1
                    div
                    div Tickets
                        span.count 12                                

    .sync-status
        small Completed: 07/02/20 9:24 PM
        button.sync-button
            i.fas.fa-sync
            | Synchronize
