.note-panel.toggle-content.is-visible#editorial
    .note-title 
        div(style="display: flex")
            i.fas.fa-columns  
            | &nbsp; 
            h1 Editorial Flow
    .note-metadata
        div 16/06/2020 
            span 10:21
        button 
            i.fas.fa-info-circle
    .note-navigation
        button 
            i.fas.fa-arrow-left
        button 
            i.fas.fa-arrow-right
    .note-tools
        button 
            i.fas.fa-bold
        button 
            i.fas.fa-italic
        button 
            i.fas.fa-heading
        button 
            i.fas.fa-ellipsis-h
        button 
            i.fas.fa-list-ul
        button 
            i.fas.fa-list-ol
        button 
            i.fas.fa-check-square
        button 
            i.fas.fa-link
        button
            i.fas.fa-code
        button 
            i.fas.fa-paperclip
        button 
            i.fas.fa-calendar
    .note-view
        button.selected
            span(style="white-space:nowrap") M
                i.fas.fa-arrow-down
        button
            i.fas.fa-columns
        button 
            i.fas.fa-share-square
    .note-breadcrumb
        div 
            a(href="#") A Prender
    .note-edit
        .no-padding-p
            p ---
            p title: "Editorial Flow"
            p tags: 
            p     - 'Blog Posts'
            p     - 'Recipes'
            p type: board
            p columns: 
            p &nbsp;&nbsp;&nbsp;&nbsp;1: 
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tag: none
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: inbox
            p &nbsp;&nbsp;&nbsp;&nbsp;2: 
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tag: 'to-research'
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: researching
            p &nbsp;&nbsp;&nbsp;&nbsp;3:
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tag: 'writing'
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: writing
            p &nbsp;&nbsp;&nbsp;&nbsp;4: 
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tag: 'ready'
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: ready for review
            p &nbsp;&nbsp;&nbsp;&nbsp;5:
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tag: 'done'
            p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: done
            p ---
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
            p 
    .note-tags
        div
            button Blog Posts
            button Recipes
        a(href="#") Add ...
