doctype html
html(lang="en")
    head    
        include includes/_head.pug
    body
        include includes/_notebooks.pug
        .note-list
            .add-new
                button.new-todo-button 
                    i.fas.fa-plus
                    span board
                button.new-todo-button 
                    i.fas.fa-plus
                    span to-do
                button.new-note-button 
                    i.fas.fa-plus
                    span note

            .search-notes
                .search-wrapper
                    input(type='text', placeholder='Search')
                    i.fas.fa-search

            .current-notebook
                // enable this to see a searched list item
                // .list-item-container(draggable="true") 
                    div Add 
                        span.searched support 
                        | for system theme
                .list-item-container(draggable="true") 
                    div 
                        i.fas.fa-columns 
                        | 
                        a(href="/kanban.html") Editorial Flow
                .list-item-container(draggable="true") 
                    div 
                        i.fas.fa-columns
                        |  Ideas
                .list-item-container(draggable="true") 
                    div 
                        i.fas.fa-columns
                        |  Research
                .list-item-container(draggable="true") 
                    div 
                        input(id="a", type="checkbox") 
                        label(for="a") 
                            span.pseudo-checkbox
                            span Blog post idea with a long name that wraps around


                .list-item-container(draggable="true") 
                    div 
                        input(id="b", type="checkbox") 
                        label(for="b") 
                            span.pseudo-checkbox
                            span Covid research
                                span.todo-count
                                    i.fas.fa-check-square-o 
                                    |  3/6
                .list-item-container(draggable="true") 
                    div
                        input(id="f", type="checkbox") 
                        label(for="f") 
                            span.pseudo-checkbox
                            span 2020 updates
                .list-item-container(draggable="true") 
                    div
                        input(id="e", type="checkbox") 
                        label(for="e") 
                            span.pseudo-checkbox
                            span Working from home

                .list-item-container(draggable="true") 
                    div 
                        input(id="c", type="checkbox") 
                        label(for="c") 
                            span.pseudo-checkbox
                            span Working on open source projects
                .list-item-container(draggable="true").selected
                    div
                        input(id="d", type="checkbox") 
                        label(for="d") 
                            span.pseudo-checkbox
                            span Fall Newsletter

                .list-item-container(draggable="true") 
                    div 
                        input(id="c", type="checkbox") 
                        label(for="c") 
                            span.pseudo-checkbox
                            span Summer Games
                .list-item-container(draggable="true")
                    div
                        input(id="d", type="checkbox") 
                        label(for="d") 
                            span.pseudo-checkbox
                            span Other things

                .list-item-container(draggable="true") 
                    div 
                        input(id="first", type="checkbox", checked="checked") 
                        label(for="first") 
                            span.pseudo-checkbox
                            span Community and further help with a really long names
                .list-item-container(draggable="true") 
                    div
                        input(id="second", type="checkbox", checked="checked") 
                        label(for="second") 
                            span.pseudo-checkbox
                            span Todo important task



        .note-panel
            .note-title
                label
                    input(id="second", type="checkbox") 
                    | Fall Newsletter
            .note-metadata
                div 16/06/2020 
                    span 10:21
                button 
                    i.fas.fa-info-circle
            .note-navigation
                button 
                    i.fas.fa-arrow-left
                button 
                    i.fas.fa-arrow-right
            .note-tools
                button 
                    i.fas.fa-bold
                button 
                    i.fas.fa-italic
                button 
                    i.fas.fa-heading
                button 
                    i.fas.fa-ellipsis-h
                button 
                    i.fas.fa-list-ul
                button 
                    i.fas.fa-list-ol
                button 
                    i.fas.fa-check-square
                button 
                    i.fas.fa-link
                button
                    i.fas.fa-code
                button 
                    i.fas.fa-paperclip
                button 
                    i.fas.fa-calendar
            .note-view
                button.selected
                    span(style="white-space:nowrap") M
                        i.fas.fa-arrow-down
                button
                    i.fas.fa-columns
                button 
                    i.fas.fa-share-square
            .note-breadcrumb
                div 
                    a(href="#") A Prender
            .note-edit
                div
                    p.color # This is the fall news

                    p Joplin is a free, open source note taking and to-do application, which helps you write and organise your notes, and synchronise them between your devices. The notes are searchable, can be copied, tagged and modified either from the applications directly or from your own text editor. The notes are in [Markdown format](https://joplinapp.org/#markdown). Joplin is available as a **💻 desktop**, **📱 mobile** and **🔡 terminal** application.

                    p The notes in this notebook give an overview of what Joplin can do and how to use it. In general, the three applications share roughly the same functionalities; any differences will be clearly indicated.

            .note-render
                div
                    h1 This is the fall newsletter

                    p Joplin is a free, open source note taking and to-do application, which helps you write and organise your notes, and synchronise them between your devices. The notes are searchable, can be copied, tagged and modified either from the applications directly or from your own text editor. The notes are in [Markdown format](https://joplinapp.org/#markdown). Joplin is available as a **💻 desktop**, **📱 mobile** and **🔡 terminal** application.

                    p The notes in this notebook give an overview of what Joplin can do and how to use it. In general, the three applications share roughly the same functionalities; any differences will be clearly indicated.
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p  
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
                    p 
            .note-tags
                div
                    button ready
                    button welcome
                a(href="#") Add more tags ...
