doctype html
html(lang="en")
    head    
        include includes/_head.pug
    body.kanban
        include includes/_notebooks.pug
        .note-list
            include includes/_kanban_header.pug
            .kanban-board
                .kanban-column(ondragover='onDragOver(event);', ondrop='onDrop(event);')
                    div
                        h3 inbox
                        button.new-todo-button 
                            i.fas.fa-plus
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-1 
                        div 
                            input(id="a", type="checkbox") 
                            span.pseudo-checkbox
                            span Blog post idea with a long name that wraps around



                .kanban-column(ondragover='onDragOver(event);', ondrop='onDrop(event);')
                    div
                        h3 researching
                        button.new-todo-button 
                            i.fas.fa-plus
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-2 
                        div 
                            input(id="b", type="checkbox") 
                            span.pseudo-checkbox
                            span Covid research
                                span.todo-count
                                    i.fas.fa-check-square-o 
                                    |  3/6
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-3 
                        div
                            input(id="f", type="checkbox") 
                            span.pseudo-checkbox
                            span 2020 updates
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-4 
                        div
                            input(id="e", type="checkbox") 
                            span.pseudo-checkbox
                            span Working from home


                .kanban-column(ondragover='onDragOver(event);', ondrop='onDrop(event);')
                    div
                        h3 writing
                        button.new-todo-button 
                            i.fas.fa-plus
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-5 
                        div 
                            input(id="c", type="checkbox") 
                            span.pseudo-checkbox
                            span Working on open source projects
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-0
                        div
                            input(id="d", type="checkbox") 
                            span.pseudo-checkbox
                            span
                                a.toggle(href='#newsletter') Fall Newsletter

                .kanban-column(ondragover='onDragOver(event);', ondrop='onDrop(event);')
                    div
                        h3 ready for review
                        button.new-todo-button 
                            i.fas.fa-plus
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-6 
                        div 
                            input(id="c", type="checkbox") 
                            span.pseudo-checkbox
                            span Summer Games
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-7
                        div
                            input(id="d", type="checkbox") 
                            span.pseudo-checkbox
                            span Other things


                .kanban-column(ondragover='onDragOver(event);', ondrop='onDrop(event);')
                    div
                        h3 
                            i.fas.fa-check-square-o 
                            |  published
                        button.new-todo-button 
                            i.fas.fa-plus

                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-8 
                        div 
                            input(id="first", type="checkbox", checked="checked") 
                            span.pseudo-checkbox
                            span Community and further help with a really long names
                    .list-item-container(draggable="true", ondragstart='onDragStart(event);')#item-9 
                        div
                            input(id="second", type="checkbox", checked="checked") 
                            span.pseudo-checkbox
                            span Todo important task
        include includes/note-editorial-board.pug
        include includes/note-fall-newsletter.pug
script(
    src="js.js"
    )  
